<app-header></app-header>
<div class="home__container">
    <h2 class="home__title">All messages</h2>


    <label for="nickname">Nickname</label>
    <div class="style_input">
        <input type="text" name="nickname" id="nickname" placeholder="Nickname">
        <button class="icons_btn"><img class="icon" src="../../../../assets/icons/lupa.svg" alt="buscar"></button>
    </div>

    <label for="date">Date select</label>

    <div class="style_input">
        <input type="datetime" name="date" id="date" placeholder="10 - 20 - 22">
        <button class="icons_btn"><img class="icon invert" src="../../../../assets/icons/calendar.svg" alt="calendar"></button>
    </div>

    <app-cards></app-cards>

            
</div>
