<div class="card">
    <h4 class="title">Titulo super epico que deja a la gente con la boca abierta</h4>
    <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus corporis, placeat itaque animi asperiores iure odio. </p>
    <div class="info__user">
        <p class="time">10:05 am 20/11/22</p>
        <p class="user__name">Daniel Amadeus</p>
    </div>
</div>

<div class="card">
    <h4 class="title">Titulo super epico que deja a la gente con la boca abierta</h4>
    <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus corporis, placeat itaque animi asperiores iure odio. </p>
    <div class="info__user">
        <p class="time">10:05 am 20/11/22</p>
        <p class="user__name">Daniel Amadeus</p>
    </div>
</div>

<div class="card">
    <h4 class="title">Titulo super epico que deja a la gente con la boca abierta</h4>
    <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus corporis, placeat itaque animi asperiores iure odio. </p>
    <div class="info__user">
        <p class="time">10:05 am 20/11/22</p>
        <p class="user__name">Daniel Amadeus</p>
    </div>
</div>

<div class="card">
    <h4 class="title">Titulo super epico que deja a la gente con la boca abierta</h4>
    <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus corporis, placeat itaque animi asperiores iure odio. </p>
    <div class="info__user">
        <p class="time">10:05 am 20/11/22</p>
        <p class="user__name">Daniel Amadeus</p>
    </div>
</div>
