<section class="register">

    <app-banner></app-banner>

    <h3 class="auth_title">Welcome To Wires</h3>

    <div class="container_register">
        <app-auth-btn Text="Sign In" (onClickExecute)="goToSignIn()"></app-auth-btn>

        <form class="register_form" [formGroup]="registerForm">

            <label for="nickname">Nickname</label>
            <input type="text" formControlName="nickname" name="nickname" id="nickname" placeholder="Nickname">
            <span *ngIf="validarForm('nickname')">El nickname debe tener al menos 3 caracteres</span>
            <div></div>


            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name" placeholder="Full name">
            <span *ngIf="validarForm('name')">Su nombre completo debe tener al menos 8 caracteres</span>
            <div></div>


            <label for="email">Email Adress</label>
            <input type="text" name="email" id="email" formControlName="email" placeholder="Example@gmail.com">
            <span *ngIf="validarForm('email')">Escriba un correo electrónico válido</span>
            <span *ngIf="emailUsed">Este correo ya ha sido utilizado</span>
            <div></div>

            <!-- TODO: cambio de visibilidad en el input -->
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" id="password" placeholder="Password">
            <span *ngIf="validarForm('password')">La contraseña debe ser mayor a 6 caracteres</span>
        </form>


        <app-primary-btn Texto="Create" (onClickFunction)="createUser()"></app-primary-btn>

    </div>

    <app-auth-footer></app-auth-footer>

</section>